:root {
  --font-1: "Oswald", sans-serif;
  --font-2: "Poppins", sans-serif;
  --font-3: "Protest Revolution", sans-serif;
  --color-1: #333;
  --color-2: #232323;
  --bg-color-1: #f5e9db;
  --bg-color-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ---------------- Header Navigation Pane ------------------ */
#header-img {
  width: 3.125rem;
  object-fit: contain;
}

.topnav,
.ham-nav-menu {
  background-color: var(--bg-color-2);
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.4375rem;
  overflow: hidden;
  box-shadow: 0px 1px 10px 2px var(--color-2);
  z-index: 1;
}

#myLinks {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  height: 4rem;
}

#myLinks li {
  display: flex;
  align-self: center;
  height: 100%;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: var(--color-1);
  padding: 0 1rem;
  font-family: var(--font-2);
  cursor: pointer;
  font-size: 100%;
  align-items: center;
  height: 100%;
  transition: background-color 0.7s, color 0.5s, border-radius 0.7s;
}

#myLinks .nav-link:hover {
  background-color: var(--color-1);
  color: var(--bg-color-2);
  border-radius: 1rem 2.4rem 4rem;
}

#logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-name {
  font-size: 1.6875rem;
  margin-left: 1rem;
  font-weight: 550;
  font-family: var(--font-3);
}

#ham-menu {
  display: none;
}

.bar-icon {
  display: none;
}

/* ------------------ Handles the spacing between sections ------------ */
/* -------- I need to find a way around to refactor this code to something better. Including the individual margin tops in different sections. */

section::before {
  display: block;
  content: " ";
  margin-top: -180px;
  height: 290px;
  visibility: hidden;
  pointer-events: none;
}

section {
  margin: -60px auto;
  text-align: center;
  padding: 10px;
}

/* ------------------- Beginning of Hero Section --------------- */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0.625rem;
  margin-top: 3.75rem;
}

.aside {
  padding: 1.25rem 0.625rem 0.625rem;
}

.aside h1 {
  font-family: var(--font-3);
  font-size: 1.875rem;
  color: var(--color-2);
  text-align: center;
  margin-bottom: 0.9375rem;
  font-weight: 570;
}

.aside p {
  color: var(--color-1);
  font-family: var(--font-2);
  margin-bottom: 0.625rem;
}

.side {
  width: 100%;
}

#hero-img {
  width: 100%;
  object-fit: cover;
  height: 25rem;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  box-shadow: 1px 1px 10px grey;
}

/* ---------------------- iframe section ----------------- */

#video {
  width: 100%;
  border-radius: 0.4375rem;
}

h2 {
  font-family: var(--font-1);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.9375rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  margin: auto;
}

.icon,
.bar-icon {
  font-size: 1.5625rem;
  color: var(--color-1);
}

.gallery img {
  width: 100%;
  max-width: 21.875rem;
  height: 18.75rem;
  object-fit: cover;
  border-radius: 0.625rem;
}

.pricing-box {
  display: flex;
  flex-direction: column;
}

.price {
  width: 80%;
  padding: 0.625rem;
  margin: 0 auto 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 1px 1px 10px grey;
  margin-top: 0.625rem;
}

.price:hover,
.gallery img:hover {
  transform: scale(1.02);
  transition: 0.4s;
  cursor: pointer;
}

h3 {
  color: var(--color-1);
}

.plus {
  font-family: var(--font-1);
  font-size: 1.25rem;
}

.list,
h3 {
  font-family: var(--font-2);
  margin-bottom: 0.3125rem;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#email {
  width: 60%;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#form-section input {
  padding: 0.75rem;
  border-radius: 0.4375rem;
  box-shadow: 1px 1px 10px grey;
  border: none;
  font-family: var(--font-2);
  font-weight: 700;
  margin: 0.625rem auto;
  transition: box-shadow 2s;
}

#form-section input:focus {
  outline: none;
  box-shadow: 1px 1px 10px 2px var(--color-2);
}

.shaking-input {
  animation: tilt-shaking 0.2s ease-out 3;
}

#submit {
  width: 40%;
}

#submit:hover {
  transition: 0.9s;
  cursor: pointer;
  background-color: var(--color-1);
  color: var(--bg-color-2);
}

footer {
  text-align: right;
  font-family: var(--font-3);
  font-size: 0.9375rem;
  padding: 1.875rem 1.25rem 0.125rem;
}

/* ------ MEDIA QUERIES ----- */

/* This applies when the width is 600px upwards */
@media only screen and (min-width: 600px) {
  #nav-bar {
    flex-direction: row;
  }
  /* #hero-img {
    height: 25rem;
  } */
  #hero {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.875rem;
    padding-top: 1.25rem;
  }
  .aside {
    width: 50%;
    margin-top: 0.625rem;
  }
  .side {
    width: 40%;
  }
  #video {
    width: 98%;
  }
  .pricing-box {
    flex-direction: row;
  }
  .price {
    width: 45%;
  }
}

/* Applies when the width <= 760px */
@media only screen and (760px >= width) {
  .topnav {
    flex-direction: row;
    overflow: scroll;
    height: max-content;
  }

  .ham-nav-menu {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.4375rem 0.125rem;
    /* overflow: scroll; */
  }

  #hamLinks {
    /* list-style-type: none; */
    /* background-color: aqua; */
    width: 80%;
  }

  #hamLinks li,
  .color {
    width: 100%;
  }

  .color:hover {
    background-color: var(--color-2);
    color: var(--bg-color-2);
    border-radius: 1.5rem 0.4rem 1.2rem;
  }

  /* #hamlinks a:hover */

  #logo-box {
    justify-content: left;
  }

  .bar-icon {
    display: flex;
    /* background-color: blueviolet; */
  }

  #myLinks {
    flex-direction: row;
    justify-content: left;
  }

  #myLinks li {
    height: 60%;
    width: 70%;
  }

  #myLinks .nav-link:hover {
    background-color: var(--color-1);
    color: var(--bg-color-2);
    border-radius: 1.5rem 0.4rem 1.2rem;
  }

  .fa-circle-xmark {
    height: 7rem;
    /* background-color: blue; */
  }
}

/* This is when the width is between 650px and 750px*/
@media only screen and (650px < width < 750px) {
  .gallery img {
    max-width: 18.75rem;
  }
}

/* This applies when the width is < or = 450px */
/* @media only screen and (455px >= width) {
  #hero {
    margin-top: 80px;
  }
} */
@media only screen and (455px >= width) {
  .product-name {
    font-size: 1.3rem;
  }
  #header-img {
    width: 2.1rem;
  }
  .icon {
    padding-right: 1rem;
  }
}

/* This applies when the width is < or = 200px */
@media only screen and (269px >= width) {
  #nav-bar {
    justify-content: space-between;
  }

  #logo-box {
    flex-wrap: wrap;
  }
  .product-name {
    display: none;
  }
  /* #hero {
    margin-top: 130px;
  } */
}

/* This applies when the width is < or = 204px */
@media only screen and (204px >= width) {
  /* #hero {
    margin-top: 13rem;
  } */
}
